# Python
*.egg-info
.ruff_cache
.pytest_cache
.ipynb_checkpoints
__pycache__
*.ipyc
.conda
.venv

# Mac
.DS_Store

# wandb
wandb

# IDE
.idea/
.vscode/
.env
__pycache__/
SECRETS.test

# Inspect
*.eval
logs.json
logs/
*.lock
charts/
test.py

# Project
data/analysis/*
data/input/*
data/results/*

# !data/*debug
# Under data/analysis: only track .csv files (any depth)
# data/analysis/**/*
# !data/analysis/**/
# !data/analysis/**/*.csv

# Ignore all under experiments/ except dirs (and their contents) starting with _
experiments/*
!experiments/_*/
!experiments/_*/**/
!experiments/_*/**/*

_external/
_research/
_archive/
CLAUDE.md
